.Container-content-vertical{
    margin: 100px auto;
}

.user{
    display: flex;
    align-items: center;
    margin-right: 30px;
}   

h3{
    margin: 0px;
    margin-left: 15px;
}

.img-user{
    width: 70px;
    height: 70px;
}
.linha{
    width: 200px;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

@media screen and (max-width: 768px) {
    .img-user{
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }
    .linha{
        width: 140px;
        margin-left: 10px;
        height: 2px;
        background-color: black;
        
    }
}
