.desig-buscar {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 50px;
    justify-content:center;
    
}

.container-buscar {
    width: 80%;
    height: auto;
    flex-direction: column;

}
.label-buscar{
    display: flex;
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-left: 30px;
}

.icon-buscar {
    width: 35px;
    height: 25px;
}
.icon-search{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.container-title {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
  
}

.h1-text-buscar {
    width: auto;
    color: #4E4C41;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.form{
    width: 100%;
    overflow: hidden;
}
.container-form {
    width: 100%;
}
.input-buscar{
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    margin: 0 auto;
}
.submit-buscar{
    width: auto;
    margin: 20px auto;
}

.container-button-icon{
    width: 25%;
    padding: 10px;
    background-color: #FEC808;
    border-radius: 5px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}
.name-buscar{
    color: black;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}