.container-menu {
    display: flex;
}



.menu-horizontal-on {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

.menu-icon {
    width: 45px;
    height: 30px;
    margin-left: 10px;
}

.menu-icon-v {
    width: 45px;
    height: 30px;
    margin-left: 10px;
}
.v-open-menu{
    height: 80px;
    align-items: center;
    display: flex;
}
h3 {
    font-size: 17px;
    margin: 0;
}

.logo {
    width: 100px;
    height: 100%;
}

.logo-contato {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-vertical {
    width: 0px;
    height: 1300px;
    overflow: hidden;
    display: block;
    position: relative;
    background-color: #F2F2F2;
    transition: width 0.5s ease;
}

.menu-vertical.open {
    width: 300px;
}

.conteudo {
    margin-top: 40px;
}